using System;
using System.Collections.Generic;
using System.Linq;
using System.Web;

namespace Natillera1.Views.Clientes
{
	public class Index
	{
@model IEnumerable<Natillera1.Models.Cliente>

@{
    ViewBag.Title = "Clientes";
}

<h2>Clientes</h2>

<p>
    @Html.ActionLink("Crear nuevo Cliente", "Create")
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefono)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.telefono)
                </td>
                <td>
                    @Html.ActionLink("Ver", "Details", new { id = item.clienteID }) |
                    @Html.ActionLink("Editar", "Edit", new { id = item.clienteID }) |
                    @Html.ActionLink("Borrar", "Delete", new { id = item.clienteID })
                </td>
            </tr>
        }
    </tbody>
</table>


	}
}